<body>
    <div class="container">
        <a class="btn btn-medium btn-primary" href="/image/">Im치genes</a>
        <br/>
        <div class="hero-unit center">
            <form class="form-signin" >
                <h1>Info:</h1>
                <p><strong>Nombre:</strong> <%= image.name %> </p>
                <p><strong>Descripci칩n:</strong> <%= image.description %> </p>
                <p><strong>Formato:</strong> <%= image.image %> </p>
                <p><strong>Tama침o:</strong> <%= image.imageSize %> </p>
                <p><strong>Path completo:</strong> <%= image.fullPath %> </p>
                <p><strong>Versi칩n:</strong> <%= image.version %> </p>
            </form>
        </div>
        <hr>
    </div>
</body>